Group8:WANG Hanqing, WANG Zuohui, XU Alice, SERHANE Ziad
Subject for the Final Project:
Question 1: Sales & Marketing
Question 2: Cuba

In [2]:
# Import the Libraries:

import pandas as pd
import numpy as np
import math
from random import gauss as normal_dist
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

### **Activity 1:**

DATA from:
>* *https://raw.githubusercontent.com/cvfranco/DataSetPython/main/Company_Data_STUDENTS.csv*

* *Import the data.*
* *Perform the Data Preparation tasks you consider appropriate.*
* *To improve your analysis later you require somme new features. Based on what you know, and following the companies variable compensation policy, determine the variable compensation for each employee.*

* *Import the data.*

In [3]:
path = r"https://raw.githubusercontent.com/cvfranco/DataSetPython/main/Company_Data_STUDENTS.csv"
df_company_data = pd.read_csv(path)
df_company_data

,Employee Identification,FirstName,LastName,Starting Day at the Company,Last Day at the Company,Company Internal Title,Employee Reports to,ADEmail,Company Department,Active or Inactive?,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,MaritalDesc,Performance Score,Current Employee Rating,Annual Gross Fixed Salary (USD)
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Fin & Acc,07-10-1969,MA,Accounting,Female,34904,Widowed,Fully Meets,4,75187.0
1,3428,Paula,Small,11-Feb-23,NaN,Production Tech I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Widowed,Fully Meets,3,NaN
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Widowed,Fully Meets,4,79914.0
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Single,Fully Meets,2,77265.0
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Married,Fully Meets,3,75655.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,Eng,23-06-1998,MA,Model Assistant,Female,44500,Widowed,Fully Meets,3,96586.0
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,Engineers,10-06-2001,MA,Engineer,Male,35444,Widowed,Fully Meets,3,97249.0
2997,3424,Annabel,Wilkins,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,...,Wireline Construction,27-01-1997,MA,Laborer,Male,6608,Single,Fully Meets,2,62795.0
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,...,Aerial,28-05-1954,MA,Foreman,Female,3807,Divorced,Fully Meets,2,NaN
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,Field Operations,11-09-1990,MA,Warehouse Technician,Female,57487,Married,Fully Meets,2,NaN

#### **Perform the Data Preparation tasks.**

* *1.Check the names of the columns.*

In [ ]:
df_company_data.columns.to_list()

In [14]:
columns_to_rename = {'Employee Identification':'EmployeeID', 'Starting Day at the Company':'StartDate', 'Last Day at the Company':'EndDate', 'Company Internal Title':'Title', 'Employee Reports to':'Reports to', 'Company Department':'Department', 'Active or Inactive?':'Status', 'EmployeeClassificationType':'ClassificationType','JobFunctionDescription':'JobFunction','GenderCode':'Gender', 'LocationCode':'Location', 'MaritalDesc':'Marital', 'DOB':'Birth'}

df_company_data.rename(columns = columns_to_rename, inplace=True)

df_company_data.columns.to_list()

['EmployeeID',
 'FirstName',
 'LastName',
 'StartDate',
 'EndDate',
 'Title',
 'Reports to',
 'ADEmail',
 'Department',
 'Status',
 'EmployeeType',
 'PayZone',
 'ClassificationType',
 'TerminationType',
 'TerminationDescription',
 'DepartmentType',
 'Division',
 'Birth',
 'State',
 'JobFunction',
 'Gender',
 'Location',
 'Marital',
 'Performance Score',
 'Current Employee Rating',
 'Annual Gross Fixed Salary (USD)']

* *2. Check the data types.*

In [16]:
print(df_company_data.dtypes)

EmployeeID                           int64
FirstName                           object
LastName                            object
StartDate                           object
EndDate                             object
Title                               object
Reports to                          object
ADEmail                             object
Department                          object
Status                              object
EmployeeType                        object
PayZone                             object
ClassificationType                  object
TerminationType                     object
TerminationDescription              object
DepartmentType                      object
Division                            object
Birth                               object
State                               object
JobFunction                         object
Gender                              object
Location                             int64
Marital                             object
Performance Score                   object
Current Employee Rating              int64
Annual Gross Fixed Salary (USD)    float64
dtype: object

In [17]:
df_company_data['Location'] = df_company_data['Location'].astype('object')

df_company_data.dtypes

EmployeeID                           int64
FirstName                           object
LastName                            object
StartDate                           object
EndDate                             object
Title                               object
Reports to                          object
ADEmail                             object
Department                          object
Status                              object
EmployeeType                        object
PayZone                             object
ClassificationType                  object
TerminationType                     object
TerminationDescription              object
DepartmentType                      object
Division                            object
Birth                               object
State                               object
JobFunction                         object
Gender                              object
Location                            object
Marital                             object
Performance Score                   object
Current Employee Rating              int64
Annual Gross Fixed Salary (USD)    float64
dtype: object

* *3. unify the category names.*

In [19]:
print(df_company_data['Title'].unique().tolist())

['Production Technician I', 'Production Tech I', 'Area Sales Manager', 'Production Tech II', 'Production Technician II', 'IT Support', 'Network Engineer', 'Sr. Network Engineer', 'SENIOR NETWORK ENG', 'Principal Data Architect', 'Enterprise Architect', 'Sr. DBA', 'Database Administrator', 'Data Analyst', 'Data Analyst ', 'Data Architect', 'CIO', 'BI Director', 'Senior Accountant', 'Sr. Accountant', 'Software Engineering Manager', 'SOFTWARE ENG', 'Software Engineer', 'Shared Services Manager', 'Senior BI Developer', 'Production Manager', 'President & CEO', 'Administrative Assistant', 'Accountant I', 'BI Developer', 'Sales Manager', 'IT Manager - Support', 'IT Manager - Infra', 'IT Manager - DB', 'Director of Sales', 'Director of Operations', 'IT Director']

In [21]:
df_company_data['Title'].replace('Production Technician I','Production Tech I', inplace=True)
df_company_data['Title'].replace('Production Technician II','Production Tech II', inplace=True)
df_company_data['Title'].replace('Sr. Network Engineer','Senior Network Engineer', inplace=True)
df_company_data['Title'].replace('Sr. Accountant','Senior Accountant', inplace=True)
df_company_data['Title'].replace('Data Analyst ','Data Analyst', inplace=True)
df_company_data['Title'].replace('Sr. DBA','Senior Database Administrator', inplace=True)
df_company_data['Title'].replace('SOFTWARE ENG ','Software Engineer', inplace=True)

df_company_data['Title'].unique()

array(['Production Tech I', 'Area Sales Manager', 'Production Tech II',
       'IT Support', 'Network Engineer', 'Senior Network Engineer',
       'SENIOR NETWORK ENG', 'Principal Data Architect',
       'Enterprise Architect', 'Senior Database Administrator',
       'Database Administrator', 'Data Analyst', 'Data Architect', 'CIO',
       'BI Director', 'Senior Accountant', 'Software Engineering Manager',
       'SOFTWARE ENG', 'Software Engineer', 'Shared Services Manager',
       'Senior BI Developer', 'Production Manager', 'President & CEO',
       'Administrative Assistant', 'Accountant I', 'BI Developer',
       'Sales Manager', 'IT Manager - Support', 'IT Manager - Infra',
       'IT Manager - DB', 'Director of Sales', 'Director of Operations',
       'IT Director'], dtype=object)

* *4. Handle NaN values.*

In [20]:
df_company_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   EmployeeID                       3000 non-null   int64
 1   FirstName                        3000 non-null   object
 2   LastName                         3000 non-null   object
 3   StartDate                        3000 non-null   object
 4   EndDate                          1533 non-null   object
 5   Title                            3000 non-null   object
 6   Reports to                       3000 non-null   object
 7   ADEmail                          3000 non-null   object
 8   Department                       3000 non-null   object
 9   Status                           3000 non-null   object
 10  EmployeeType                     3000 non-null   object
 11  PayZone                          3000 non-null   object
 12  ClassificationType               3000 non-null   object
 13  TerminationType                  3000 non-null   object
 14  TerminationDescription           1533 non-null   object
 15  DepartmentType                   3000 non-null   object
 16  Division                         3000 non-null   object
 17  Birth                            3000 non-null   object
 18  State                            3000 non-null   object
 19  JobFunction                      3000 non-null   object
 20  Gender                           3000 non-null   object
 21  Location                         3000 non-null   object
 22  Marital                          3000 non-null   object
 23  Performance Score                3000 non-null   object
 24  Current Employee Rating          3000 non-null   int64
 25  Annual Gross Fixed Salary (USD)  1838 non-null   float64
dtypes: float64(1), int64(2), object(23)
memory usage: 609.5+ KB

### **Activity 2:**

DATA from:
>* *https://raw.githubusercontent.com/cvfranco/DataSetPython/main/World_Data_2023_STUDENTS.csv*

* *Import the data.*
* *Perform the Data Preparation tasks you consider appropriate.*
* *Explore the Data and define a study question.* 
* *Use the Data Visualization tools you already know to conclude on your study.*

In [4]:
path2 = r"https://raw.githubusercontent.com/cvfranco/DataSetPython/main/World_Data_2023_STUDENTS.csv"
df_world_data = pd.read_csv(path2)
df_world_data

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

* *1.Check the names of the columns.*

In [ ]:
df_world_data.columns.to_list()

In [ ]:
cols_to_rename = {'Density\n(P/Km2)':'Density(P/Km2)', 'Agricultural Land( %)':'Agricultural Land(%)', 'Urban_population':'Urban population'}

df_world_data.rename(columns = cols_to_rename, inplace=True)

df_world_data.columns.to_list()

* *2. Check the data types.*

In [26]:
print(df_world_data.dtypes)

Country                                       object
Density(P/Km2)                                object
Abbreviation                                  object
Agricultural Land(%)                          object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Calling Code                                 float64
Capital/Major City                            object
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Currency-Code                                 object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Largest city                                  object
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Official language                             object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [38]:
df_world_data['Density(P/Km2)'] = df_world_data['Density(P/Km2)'].astype('float64')
df_world_data['Agricultural Land(%)'] = df_world_data['Agricultural Land(%)'].astype('float64')
df_world_data['Land Area'] = df_world_data['Land Area'].astype('int64')
df_world_data['Armed Forces size'] = df_world_data['Armed Forces size'].astype('int64')
df_world_data['Co2-Emissions'] = df_world_data['Co2-Emissions'].astype('int64')
df_world_data['CPI'] = df_world_data['CPI'].astype('int64')
df_world_data['CPI Change (%)'] = df_world_data['CPI Change (%)'].astype('float64')
df_world_data['Forested Area'] = df_world_data['Forested Area'].astype('float64')
df_world_data['Gasoline Price'] = df_world_data['Gasoline Price'].astype('int64')
df_world_data['GDP'] = df_world_data['GDP'].astype('int64')
df_world_data['Gross primary education enrollment (%)'] = df_world_data['Gross primary education enrollment (%)'].astype('float64')
df_world_data['Gross tertiary education enrollment (%)'] = df_world_data['Gross tertiary education enrollment (%)'].astype('float64')
df_world_data['Minimum wage'] = df_world_data['Minimum wage'].astype('float64')
df_world_data['Out of pocket health expenditure'] = df_world_data['Out of pocket health expenditure'].astype('float64')
df_world_data['Population'] = df_world_data['Population'].astype('int64')
df_world_data['Population: Labor force participation (%)'] = df_world_data['Population: Labor force participation (%)'].astype('float64')
df_world_data['Tax revenue (%)'] = df_world_data['Tax revenue (%)'].astype('float64')
df_world_data['Total tax rate'] = df_world_data['Total tax rate'].astype('float64')
df_world_data['Unemployment rate'] = df_world_data['Unemployment rate'].astype('float64')
df_world_data['Urban population'] = df_world_data['Urban population'].astype('float64')

df_world_data.dtypes

ValueError: could not convert string to float: '652,230'